{% load static %}
<!-- Footer -->
<footer
class="flex flex-col items-center justify-center h-80"
style="background-color: #282c35"
>
<div class="text-gray-500 font-bold text-2xl">
  <h4>SUBSCRIBE TO OUR NEWSLETTER</h4>
</div>
<!-- Sign up section -->
<div class="flex w-1/2 h-12 justify-between mt-5 px-14">
  <input
    class="w-3/4 h-full outline-none rounded pl-4"
    type="email"
    placeholder="Enter Your Email Address..."
  />
  <button
    class="w-36 h-full text-white bg-red-500 border-red-500 hover:bg-red-800 rounded font-bold text-xl p-1"
  >
    SIGN UP
  </button>
</div>
<hr class="w-3/4 mt-10 text-white" />
<!-- Copy Right Section -->
<div class="copy-right mt-4 text-gray-300 text-sm">
  <p>
    © 2024 FOODBAKERY. ALL RIGHTS RESERVED. DEVELOPED BY
    <a href="https://github.com/Ali-Sina-255" target="_blank"
      ><span class="text-red-900 font-bold underline text-lg"
        >Ali Sina</span
      >
    </a>
    <span class="text-white font-bold text-lg">/</span>
    <a href="https://github.com/Elyajan" target="_blank">
      <span class="text-red-900 font-bold underline text-lg">
        Anwar</span
      ></a
    >
  </p>
</div>
</footer>